.modal-header{
    background-color:rgb(123, 236,236);
    height: 55px;
}
.modal-header img{
    height: 42px;
}
.modal-body{
    margin-top:20px !important;
}
.modal-body h3{
    text-align: center;
}
.modal-footer .btn-primary{
	border: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
    background-color: skyblue;
}
#modal_user .modal-body{
    height: 80px;
}
.modal-footer #ap .btn-success{
    border: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
    background-color: skyblue !important; 
    position: absolute;
}
.apartadol{
    background-color: #FFA07A;
}